@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   BackdropClick="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
                <div class="main-wrapper">
                    <button @onclick="ThrowException">Click me to throw error</button>
                    <Header />
                    <article class="content px-4">
                        @Body
                    </article>
                    <Footer />
                </div>
            </Authorized>
            <NotAuthorized>@Body</NotAuthorized>
        </AuthorizeView>
    </ChildContent>

    <ErrorContent Context="exception">
        <p>Error Occurred!!! -  From Main</p>
        <p>@exception.GetType()</p>
        <p>@exception.Message</p>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

    private void ThrowException()
    {
        throw new InvalidOperationException("Test error");
    }
}