.header-container {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-btn {
    transition: all 0.3s ease 0s;
}

.nav-btn:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: white;
    }

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        transition: height 0.3s ease;
    }

        .nav-links.active {
            height: 200px; /* Adjust based on content */
        }

    .hamburger {
        display: flex;
    }
}
